.tui-search {
  background: #EBF0F6;

  &-main-global {
    width: 100%;
    height: fit-content;
  }

  &-main-conversation {
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0 1px 10px 0 rgba(2,16,43,0.15);
  }

  .tui-search-global {
    padding-bottom: 10px;
    &-header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  .tui-search-conversation {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
