.tui-conversation {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &-list {
    overflow: auto;
  }
}

.tui-conversation-header {
  width: 100%;
  border-bottom: 1px solid #E6E9EB;
  position: relative;
}

.network {
  padding: 0 12px;
  display: flex;
  align-items: center;

  .icon-error{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: red;
    color: #fff;
    font-style: normal;
  }

  &-content {
    padding: 5px;
    font-size: 12px;
    line-height: 22px;
  }
}

.plus {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
}

.plus::before,
.plus::after {
  content: "";
  position: absolute;
  background-color: #232832;
  border-radius: 0.5px;
  width: 1px;
  height: 14px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.plus::after {
  transform: rotate(90deg);
  width: 0.5px;
}

.menu-container {
  position: relative;

  .list {
    display: flex;
    align-items: center;

    &-item {
      list-style: none;
      flex: 1;
      display: flex;
      align-items: center;
      gap: 8px;
      position: relative;
      cursor: pointer;
      user-select: none;

      &-title {
        font-size: 16px;
        font-weight: normal;
        word-break: keep-all;
      }
    }
  }

  &-children {
    position: absolute;
    right: -2px;
    top: calc(100% + 12px);
    z-index: 3;
    padding: 10px 0;
    border-radius: 7px;
    border-bottom: none;
    background-color: #fff;
    box-shadow: 0 0 10px 0 #0003;
    flex-direction: column;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      right: 8px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #fff;
      z-index: 4;
    }

    &::after {
      content: "";
      position: absolute;
      top: -9px;
      right: 8px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid rgba(0, 0, 0, 0.1);
      z-index: 3;
    }

    .list-item {
      padding: 6px 20px;
    }
  }
}